
nav{
    background-color: #30343F;
}

.logo{
    width: 100%;
    margin-left: 2.5em;
    padding: .8em 0;
}

.menu{
    display: flex;
    align-items: center;
    position: absolute;
    right: 4em;
}
.menu li{
    margin: 0 .8em;
}
.menu li a{
    color: white;
    text-decoration: none;
}
.menu li a:hover{
    color: blue;
    opacity: .8;
}
.menu li .dropdown-item{
    color: black;
}
.banner {
    background-image: url(../Imagenes/banner.png);
    background-size:cover;
    padding: 4em;
    color: white;
    height: 22vw;
}
.banner a button{
    background-color: white;
    color: black;
    border-radius: 5em;
    border: none;
    padding: .2em 3.5em;
    margin-top: 1em;
}